.course-main-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 40px;
    background: #f2f8ff;
}
.course-head {
    clear: both;
}
.course-head h3 {
    float: left;
    margin-right: 2%;
    width: 5%;
    font-size: 40px;
    font-family: 'Poppins ExtraLight';
    color: #121616;
    border-right: 1px solid #cecece;
}
.course-head h2 {
    font-size: 40px;
    font-family: 'Poppins SemiBold';
    color: #121616;
}
.course-main-container .course-headimg {
    margin-top: 30px;
    height: 300px;
    width: 100%;
    background-image: url("../../../resources/images/course-registration.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 5px #cecece;
}
.courses {
    margin-top: 50px;
    text-align: center;
}
.registered-courses-head {
    font-family: 'Mulish SemiBold';
    font-size: 20px;
    margin-top: 50px;
}
.courses-table {
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px #cecece;
    text-align: left;
}
.courses-table .table-head th {
    background-color: #3980d0;
    color: white;
    height: 60px;
    padding-left: 30px;
}
.courses-table .table-head th:first-child {
    background-color: #3980d0;
    color: white;
    border-radius: 10px 0px 0px 0px;
}
.courses-table .table-head th:last-child {
    background-color: #3980d0;
    color: white;
    border-radius: 0px 10px 0px 0px;
}
.courses-table .table-content td {
    font-family: "Mulish";
    height: 60px;
    padding-left: 30px;
    border-bottom: 1px solid #dfe7f1;
}
.courses-table .table-content .register-course-button {
    font-family: "Mulish";
    background-color: #07C55D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: all 0.5s ease 0s;
}
.courses-table .table-content .register-course-button:hover {
    background-color: #058A41;
    transition: all 0.5s ease 0s;
}