.attendance-main-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 40px;
    background: #f2f8ff;
}
.attendance-head {
    clear: both;
}
.attendance-head h3 {
    float: left;
    margin-right: 2%;
    width: 5%;
    font-size: 40px;
    font-family: 'Poppins ExtraLight';
    color: #121616;
    border-right: 1px solid #cecece;
}
.attendance-head h2 {
    font-size: 40px;
    font-family: 'Poppins SemiBold';
    color: #121616;
}
.attendance-main-container .attendance-headimg {
    margin-top: 30px;
    height: 300px;
    width: 100%;
    background-image: url("../../../resources/images/attendance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 5px #cecece;
}
.attendance-main-container .form-group .form-control {
    background: transparent;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px;
    width: 30%;
    margin-top: 50px;
}
.attendance-table {
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px #cecece;
    text-align: left;
}
.attendance-table .table-head th {
    background-color: #3980d0;
    color: white;
    height: 60px;
    padding-left: 30px;
}
.attendance-table .table-head th:first-child {
    background-color: #3980d0;
    color: white;
    border-radius: 10px 0px 0px 0px;
}
.attendance-table .table-head th:last-child {
    background-color: #3980d0;
    color: white;
    border-radius: 0px 10px 0px 0px;
}
.attendance-table .table-content td {
    font-family: "Mulish";
    height: 60px;
    padding-left: 30px;
    border-bottom: 1px solid #dfe7f1;
}