.dashboard-main-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 40px;
    background: #f2f8ff;
}
.dashboard-head {
    clear: both;
}
.dashboard-head h3 {
    float: left;
    margin-right: 2%;
    width: 5%;
    font-size: 40px;
    font-family: 'Poppins ExtraLight';
    color: #121616;
    border-right: 1px solid #cecece;
}
.dashboard-head h2 {
    font-size: 40px;
    font-family: 'Poppins SemiBold';
    color: #121616;
}
.dashboard-main-container .dashboard-headimg {
    margin-top: 30px;
    height: 300px;
    width: 100%;
    background-image: url("../../../resources/images/dashboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 5px #cecece;
}
.announcements {
    float: right;
    margin-top: -300px;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px #cecece;
    text-align: left;
    overflow-y: auto;
}
.announcements .course-name {
    color: #3980d0;
    font-family: 'Mulish SemiBold';
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 12px;
}
.announcements .title {
    color: #121616;
    font-family: 'Mulish ExtraBold';
    margin-top: -15px;
    margin-left: 30px;
    font-size: 20px;
}
.announcements .desc {
    color: #121616;
    font-family: 'Mulish';
    margin-top: -10px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}
.announcements .remove-announcement-button {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    font-family: "Mulish";
    background-color: #f5392b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: all 0.5s ease 0s;
}
.announcements .remove-announcement-button:hover {
    background-color: #A21F16;
    transition: all 0.5s ease 0s;
}