.fee-main-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 40px;
    background: #f2f8ff;
}
.fee-head {
    clear: both;
}
.fee-head h3 {
    float: left;
    margin-right: 2%;
    width: 5%;
    font-size: 40px;
    font-family: 'Poppins ExtraLight';
    color: #121616;
    border-right: 1px solid #cecece;
}
.fee-head h2 {
    font-size: 40px;
    font-family: 'Poppins SemiBold';
    color: #121616;
}
.fee-main-container .fee-headimg {
    margin-top: 30px;
    height: 300px;
    width: 100%;
    background-image: url("../../../resources/images/fee-challan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 5px #cecece;
}